body{
	background-image:url(img/login.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#wrap{
	height:40vh;
	margin: 20vh;
	
	text-align: center;
}
.form-item{
	width:50%;
	margin-top: 10px;
}
.button{

}